<h4 class="ui center aligned medium icon header">
  <i class="circular green coffee icon"></i>
  Bla Bla
</h4>


<div class="ui two column grid container">

    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui medium feed">
                    <%= render @messages%>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input ">
                            <input type="text" placeholder="Mesaj覺n覺z覺 Yaz覺n...">
                            <i class="icon bordered inverted green edit"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" >
                <div class="ui secondary vertical pointing menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

